<section class="about">
  <div class="container about__container">
    <div class="about__content">
      <div class="about__image">
        <a href="#" class="about__image--top" tabindex="-1">
          <img src="../img/About_us01_frame.png" alt="About image">
        </a>
        <a href="#" class="about__image--bottom" tabindex="-1"><img src="../img/About_us02_frame.png" alt="About image"></a>
      </div>
      <div class="about__content--right">
        <span class="about__subtitle">About us</span>
        <h3 class="about__title">We are tasty</h3>
        <div class="about__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu-stry's stan<br>

<br>dard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typeset-tingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        </div>
        <a href="#" class="about__btn btn-reset">Click here</a>
      </div>
    </div>
    <div class="about-image"><img src="../img/About_us03.png" alt="About image bottom-right"></div>
  </div>
</section>
