<section class="amazing">
  <div class="container amazing__container">
    <span class="amazing__subtitle">Amazing</span>
    <h3 class="amazing__title">Delicious</h3>
    <div class="amazing__content">
      <div class="amazing__content--01">
        <div class="amazing__content--menu amazing-menu amazing-menu__left">
          <a href="#" class="amazing-menu__subtitle">Drinks</a>
          <ul class="amazing-menu__list">
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
              <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
              <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
              <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
              <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
          </ul>
        </div>
        <div class="amazing-image01"><img src="../img/Amazing_delicious_img01.png" alt="Amazing Delicious image 01"></div>
      </div>
      <div class="amazing__content--02">
        <div class="amazing__content--menu amazing-menu amazing-menu__right">
          <a href="#" class="amazing-menu__subtitle">Main course </a>
          <ul class="amazing-menu__list">
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
              <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
              <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
              <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
              <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
          </ul>
        </div>
        <div class="amazing-image02"><img src="../img/Amazing_delicious_img02.png" alt="Amazing Delicious image 02"></div>
      </div>
      <div class="amazing__content--03">
        <div class="amazing__content--menu amazing-menu amazing-menu__left">
          <a href="#" class="amazing-menu__subtitle">Desserts</a>
          <ul class="amazing-menu__list">
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
              <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
              <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
              <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
              <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
            <li class="amazing-menu__item">
              <a href="#" class="amazing-menu__el"><img src="../img/Amazing_delicious_img-menu.png" alt="Amazing Delicious image menu">
                <span class="amazing-menu__name">Tuna Roast Source........................................................$24.5</span>
                <span class="amazing-menu__name01">Tuna Roast Source........................................$24.5</span>
                <span class="amazing-menu__name02">Tuna Roast Source..........................$24.5</span>
                <span class="amazing-menu__name03">Tuna Roast Source...$24.5</span></a>
            </li>
          </ul>
        </div>
        <div class="amazing-image03"><img src="../img/Amazing_delicious_img03.png" alt="Amazing Delicious image 0"></div>
      </div>
    </div>
    <div class="amazing-image__bottom"><img src="../img/Amazing_delicious_img04.png" alt="Amazing Delicious bottom-left"></div>
  </div>
</section>
