<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__column">
        <h3 class="footer__title"><a href="#">Take it easy with location</a></h3>
        <p class="footer__description">
          112-Legere ancillae vix ne.<br>
          Te elit putent propriae eum,<br>
          aliquip nominati<br>
          <br>
          phone: 00 000 000<br>
          Email: support@templatemela.com
        </p>
        <div class="footer__links">
          <ul class="footer-social">
            <a href="#" class="footer-social__link"><i class="fab fa-facebook"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-google-plus"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-pinterest-p"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-youtube"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-whatsapp"></i></a>
            <a href="#" class="footer-social__link"><i class="fab fa-instagram"></i></a>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <h3 class="footer__title"><a href="#">Working Hours</a></h3>
        <p class="footer__description">

          Monday To Friday<br>
          <br>
          8:00am to 10:00pm(Breakfast)<br>
          11:00am to 10:00pm(Lunch/Diner)<br>
          <br>
              Saturday & Sunday<br>
              <br>
          10:00am to 11:00pm(Brunch)<br>
          11:00am to 12:00pm(Lunch/Dinner)<br>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title"><a href="#">Feedback form</a></h3>
        <form action="#" class="footer-form">
          <div class="footer-form__inputs">
            <label class="footer-form__field">
              <input type="text" required placeholder="Name">
            </label>
            <label class="footer-form__field">
              <input type="email" required placeholder="Email">
            </label>
            <label class="footer-form__field">
              <input type="tel" required placeholder="Phone">
            </label>
            <label class="footer-form__field">
              <input type="textarea" required placeholder="Message">
            </label>
          </div>
          <button class="footer-form__btn btn-reset">Submit</button>
        </form>
      </div>
    </div>
    <div class="footer__copy">Copyright © 2015 PSDfreebies.com</div>
    <div class="footer-image__left"><img src="../img/Between_section03.png" alt="Footer image left"></div>
    <div class="footer-image__right"><img src="../img/Between_section04.png" alt="Footer image right"></div>
  </div>
</footer>
