<header class="header">
  <div class="container header__container">
    <div class="header-top">
      <div class="container header-top__content">
        <ul class="header-top__nav">
          <ul class="header-top__center header-center">
            <li class="header-top__item">
              <a href="#" class="header-top__link"><i class="fab fa-clock"></i><span>Order Foods 24/7</span></a>
            </li>
            <li class="header-top__item"><a href="tel:06198765432" class="header-top__link"><i class="fa fa-phone"></i><span>061 9876 5432</span></a></li>
          </ul>
          <div class="header-top__links">
            <ul class="header-social">
              <a href="#" class="header-social__link"><i class="fab fa-facebook"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-linkedin"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-pinterest-p"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-youtube"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-whatsapp"></i></a>
              <a href="#" class="header-social__link"><i class="fab fa-instagram"></i></a>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container header-bottom__content">
        <ul class="header-bottom__nav header-nav">
          <li class="header-nav__item"><a href="#" class="header-nav__link">Home</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Menu</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Pages</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Delivery</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">News</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Features</a></li>
          <li class="header-nav__item header-nav__item--current"><a href="#" class="header-nav__link header-nav__link--current">Table Booking</a></li>
        </ul>
      </div>
    </div>
    <a href="#" class="header__image" tabindex="-1"><img src="../img/Triangle_header.png" alt="Header image"></a>
  </div>
</header>
