<section class="mobile">
  <div class="container mobile__container">
    <div class="mobile__content">
      <div class="mobile__image">
        <img src="../img/Mobile_app_img01.png" alt="Mobile app image">
      </div>
      <div class="mobile__content--right">
        <span class="mobile__subtitle">Happy to Announce</span>
        <h2 class="mobile__title"><a href="#">Mobile App</a></h2>
        <p class="mobile__description">is Available in every OS platform.</p>
        <div class="mobile__btns">
          <a href="https://play.google.com/store?hl=ru&gl=US" target="_blank" class="mobile__btn mobile__btn--google">
            <img src="../img/Mobile_app_googleplay.png" alt="Google play">
          </a>
          <a href="https://www.apple.com/ru/app-store/" target="_blank" class="mobile__btn mobile__btn--app">
            <img src="../img/Mobile_app_appstore.png" alt="App store">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
