<section class="reciges">
  <div class="container reciges__container">
    <div class="reciges__content">
      <div class="reciges__content--left">
        <span class="reciges__subtitle">Special Reciges</span>
        <h3 class="reciges__title">Taste of precious</h3>
        <div class="reciges__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stan<br>

<br>dard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type-settingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        </div>
        <a href="#" class="reciges__btn btn-reset">Click here</a>
      </div>
      <div class="reciges-image"><img src="../img/Special_reciges_img01.png" alt="Reciges image"></div>
    </div>
    <div class="reciges-image__between"><img src="../img/Between_section01.png" alt="Reciges image bottom-left"></div>
  </div>
</section>
